<mat-toolbar color="primary" class="app-toobar" id="app-toobar">
    <button mat-icon-button (click)="onToolbarMenuToggle()" *ngIf="isLoggedIn">
      <mat-icon>menu</mat-icon>
    </button>
  
    <a mat-button [routerLink]="''"><span>FDA</span></a>
  
    <span class="toolbar-spacer"></span>
  
    <div *ngIf="!isLoggedIn">
      <button
        mat-raised-button
        [ngStyle]="{ 'margin-right': '10px' }"
        (click)="displaySignupPopup()">
        <mat-icon>person_add</mat-icon> Signup
      </button>
  
      <button mat-raised-button (click)="displayLoginPopup()">
        <mat-icon>login</mat-icon> Login
      </button>
    </div>
  
    <div *ngIf="isLoggedIn">
      <button mat-icon-button [routerLink]="'/cart'" class="margin-right-20-px">
        <mat-icon matBadge="{{ 0 }}" matBadgeColor="accent"
        >shopping_cart</mat-icon>
      </button>
  
      <button mat-fab color="primary" [matMenuTriggerFor]="profileMenu" class="background-image"
      [ngStyle]="{'background-image': 'url(' + getPhotoURL()  + ')'}">
         <mat-icon *ngIf="getPhotoURL() === '' ">person</mat-icon> 
      </button>
      <mat-menu #profileMenu="matMenu">      
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>