#app-sidenav-container {
    height: 100%;
    overflow: hidden;
}

.side-nav-menu-icon{
    margin-right: 10px;
}  
  
.margin-right-10-px {
    margin-right: 10px;
}

.margin-right-20-px {
    margin-right: 20px;
}
