table {
    width: 100%;
}

.mat-column-photoURL {
    flex: none;
    width: 15%;
}

.mat-column-name {
    flex: none;
    width: 25%;
}

.mat-column-description {
    flex: none;
    width: 30%;
}

.mat-column-price {
    flex: none;
    width: 10%;
}

.mat-column-actions {
    flex: none;
    width: 20%;
}